* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

html {
  font-size: 2rem;
}

/*----------Container section----------*/

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(140, 128, 128, 1);
}
@media (max-width: 600px) {
  .main-container{
    height: 100vh;
  }
}
.logo-container {
  width: 800px;
  height: 800px;
  object-fit: contain;
}

.about-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
}

.mid-section {
  min-height: 400px;
  background-color: rgb(230, 213, 172);
}

.exp-container {
  min-height: 600px;
  background-color: rgba(125, 135, 155, 1);
}

.footer-container {
  min-height: 200px;
  background-color: rgba(20, 13, 7, 1);
  color: rgb(255, 255, 255);
}

/*----------Components style----------*/

/*MAIN*/
.git-logo {
  position: absolute;
  top: 20px;
  right: 20px;
}
.bi-github {
  color: rgb(0, 0, 0);
  transform: rotate(45deg);
  transition-duration: 800ms;
}
.bi-github:hover {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  transform: rotate(0deg);
}
@media (max-width: 600px) {
  .bi-github:hover {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
  }
}

.logo-container {
  animation: falling-title 2.5s;
}
@keyframes falling-title {
  0% {
    transform: translateY(-400px);
    opacity: 1%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.logo-container {
  width: 800px;
}
@media (max-width: 800px) {
  .logo-container {
    width: 100%;
    min-width: 360px;
    /* transition: 500ms; */
  }
}

.switch-btn-container {
  width: 200px;
  height: 50px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 50px;
}
.switch-btn {
  transform: translate(50%, 50%);
}

/*ABOUT*/

.about-text-header {
  height: 60px;
  background: rgb(223, 223, 223);
  border-radius: 16px;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.9);
  /* backdrop-filter: blur(300px); */
  font-size: 1.3rem;
  font-weight: bold;
}
.about-text-container {
  max-width: 700px;
  text-align: center;
  padding: 20px 30px;
  background: rgba(140, 128, 128, 1);
  border-radius: 16px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(3.6px); */
}
@media (max-width: 800px) {
  .about-text-container {
    width: 80%;
    transition: 1000ms;
  }
  .about-text-header {
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    transition: 1000ms;
  }
}

/*PROJECTS*/
.project-container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(125, 135, 155, 1);
}
@media (max-width: 800px) {
  .project-container {
    align-items: center;
    flex-direction: column;
  }
  .project-card {
    height: 100px;
    width: 100px;
  }
}

.project-card {
  max-height: 350px;
  min-width: 300px;
  margin-top: 20px;
  perspective: 1000px;
}
.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (max-width: 800px) {
  .project-card-front,
  .project-card-back {
    font-size: 0.5rem;
  }
}

.project-card-front {
  background-color: rgb(170, 170, 170);
  color: rgb(0, 0, 0);
}

.project-card-back {
  background-color: rgb(230, 213, 172);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}

/*SKILLS*/
.skills-container {
  display: flex;
  padding-top: 40px;
  gap: 10px;
}
.skills-container p {
  max-height: 100px;
  flex: 1;
  background-color: rgb(255, 255, 255, 0.6);
  text-align: center;
  text-shadow: 2px 2px rgb(0, 0, 0, 0.4);
  font-size: 1.5rem;
}
@media (max-width: 800px) {
  .skills-container {
    flex-direction: column;
  }
  .skills-container p{
    height: 100%;
    width: 50%;
    margin: auto;
    font-size: 1rem;
  }
}

/*EXPERIENCE*/
.exp-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
}
.exp-container span {
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 600px) {
  .exp-container span {
    font-size: 1rem;
  }
}

.exp-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.exp-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(230, 213, 172);
  top: 0;
  bottom: 0;
  margin-left: -3px;
}

.exp-card {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.exp-card::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgba(125, 135, 155, 1);
  border: 4px solid rgb(255, 255, 255);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  animation: falling-title 2.5s;
}

.right {
  left: 50%;
  animation: falling-title 2.5s;
}

.left::before {
  position: absolute;
  z-index: 1;
  content: " ";
  width: 0;
  height: 0;
  top: 22px;
  right: 30px;
  border: medium solid rgb(255, 255, 255);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
}

.right::before {
  position: absolute;
  z-index: 1;
  content: " ";
  width: 0;
  height: 0;
  top: 22px;
  left: 30px;
  border: medium solid rgb(255, 255, 255);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .exp-timeline::after {
    left: 31px;
  }

  .exp-card {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .exp-card::before {
    left: 60px;
    border: medium solid rgb(255, 255, 255);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

/*PUBLICATIONS & ARTICLES*/

.public-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.public-container {
  min-width: 40%;
  height: 200px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(140, 128, 128, 1);
}

.public-header {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0px 5px 0px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.public-header p {
  font-size: 1rem;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0, 0.7);
  margin: 0 5px 0;
}
.color-red {
  background-color: rgb(237, 76, 92);
}
.color-yellow {
  background-color: rgb(253, 203, 88);
}
.color-green {
  background-color: rgb(120, 177, 89);
}
@media (max-width: 600px) {
  .public-header p {
    font-size: 0.7rem;
  }
  .circle {
    width: 12.5px;
    height: 12.5px;
  }
}

/*FOOTER*/
.footer-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.footer-container svg {
  cursor: pointer;
}
@media (max-width: 600px) {
  .footer-container {
    gap: 1rem;
  }
}
