* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

html {
  font-size: 2rem;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

/*----------Container section----------*/

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 240, 218);
}
@media (max-width: 600px) {
  .main-container {
    height: 100vh;
  }
}
.logo-container {
  height: 800px;
  width: 800px;
  object-fit: contain;
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mid-section {
  min-height: 400px;
  background-color: rgb(232, 218, 204);
}

.exp-container {
  min-height: 600px;
  background-color: rgba(151, 177, 198, 1);
}

.footer-container {
  min-height: 200px;
  background-color: rgba(20, 13, 7, 1);
  color: rgb(255, 255, 255);
}

.section-title {
  font-family: "Source Serif 4", sans-serif;
  font-size: 2rem;
  font-weight: 700;
 text-align: center;
}
@media (max-width: 600px), (max-width: 950px) {
  .section-title {
    font-size: 1rem;
  }
}


/*----------Components style----------*/

/*MAIN*/
.git-logo {
  position: absolute;
  top: 20px;
  right: 20px;
}
.bi-github {
  color: rgb(0, 0, 0);
  transform: rotate(45deg);
  transition-duration: 800ms;
}
.bi-github:hover {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  transform: rotate(0deg);
}
@media (max-width: 600px) {
  .bi-github:hover {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
  }
}

.logo-container {
  max-width: 640px;
  max-height: 800px;
  background-color: rgb(232, 218, 204);
}
@media (max-width: 800px) {
  .logo-container {
    max-height: 260px;
    max-width: 260px;
    transition: 500ms;
  }
}

/*ABOUT*/

.about-text-header {
  height: 60px;
  background: rgb(223, 223, 223);
  border-radius: 16px;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.9);
  font-family: "Source Serif 4", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}
.about-text-container {
  max-width: 850px;
  text-align: center;
  padding: 20px 30px;
  background: rgba(151, 177, 198, 1);
  border-radius: 16px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  font-family: "Source Serif 4", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}
@media (max-width: 800px) {
  .about-text-container {
    width: 80%;
    transition: 1000ms;
    font-size: 0.6rem;
    margin: 20px 0 20px 0;
  }
  .about-text-header {
    height: 100%;
    font-size: 1rem;
    font-weight: 700;
    transition: 1000ms;
  }
}

/*PROJECTS*/
.project-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(151, 177, 198, 1);
}
@media (max-width: 800px) {
  .project-container {
    align-items: center;
    flex-direction: column;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  background-color: rgb(232, 218, 204);


  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: 1000ms;
}
@media (max-width: 800px) {
  .project-card {
    flex-direction: column;
    height: 150px;
    padding: 0 5px 10px;
  }
}

.projects-logo {
  padding: 0 10px 0;
}
@media (max-width: 800px) {
  .projects-logo {
    max-height: 100px;
  }
}

.project-card input {
  height: 50px;
  width: 115px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  font-family: "Source Serif 4", sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
  cursor: pointer;
}

/*SKILLS*/
.skills-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  gap: 10px;
}
.skills-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 140px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.8);
}

@media (max-width: 800px) {
  .skills-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 10px 0;
    gap: 10px;
  }
  .skills-background {
    height: 110px;
    width: 110px;
  }

  .icons {
    max-height: 100px;
    max-width: 100px;
  }
}

/*EXPERIENCE*/
.exp-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  font-family: "Source Serif 4", sans-serif;
}

.exp-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.exp-timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(230, 213, 172);
  top: 0;
  bottom: 0;
  margin-left: -3px;
}

.exp-card {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.exp-card::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  right: -17px;
  background-color: rgba(125, 135, 155, 1);
  border: 4px solid rgb(255, 255, 255);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  animation: falling-title 2.5s;
}

.right {
  left: 50%;
  animation: falling-title 2.5s;
}

.left::before {
  position: absolute;
  z-index: 1;
  content: " ";
  height: 0;
  width: 0;
  top: 22px;
  right: 30px;
  border: medium solid rgb(255, 255, 255);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(255, 255, 255);
}

.right::before {
  position: absolute;
  z-index: 1;
  content: " ";
  height: 0;
  width: 0;
  top: 22px;
  left: 30px;
  border: medium solid rgb(255, 255, 255);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 6px;
  word-wrap: break-word;
}

@media screen and (max-width: 600px) {
  .exp-timeline::after {
    left: 31px;
  }

  .exp-card {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .exp-card::before {
    left: 60px;
    border: medium solid rgb(255, 255, 255);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(255, 255, 255) transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

/*PUBLICATIONS & ARTICLES*/

.public-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Source Serif 4", sans-serif;
}

.public-container {
  min-height: 200px;
  min-width: 40%;
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(140, 128, 128, 1);
}

.public-header {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 0px 5px 0px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-weight: 700;
}

.public-header p {
  font-size: 1rem;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0, 0.7);
  margin: 0 5px 0;
}
.color-red {
  background-color: rgb(237, 76, 92);
}
.color-yellow {
  background-color: rgb(253, 203, 88);
}
.color-green {
  background-color: rgb(120, 177, 89);
}
@media (max-width: 600px) {
  .public-header p {
    font-size: 0.6rem;
  }
  .circle {
    height: 12.5px;
    width: 12.5px;
  }
}

.public-container ul {
  min-height: 70%;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.public-container li {
  margin-top: 15px;
  margin-left: 10px;
  list-style: none;
  font-size: 0.7rem;
}

.public-p {
  font-size: 0.65rem;
}

/*FOOTER*/
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-family: "Source Serif 4", sans-serif;
}
.footer-container svg {
  cursor: pointer;
}
@media (max-width: 600px) {
  .footer-container {
    gap: 0.7rem;
  }
  .logos {
    height: 50px;
    width: 50px;
  }
}
